<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Page</title>
    <style>
        .chat-container {
            width: 100%;
            height: 400px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
        }
        .chat-bubble {
            max-width: 40%;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 10px;
            display: flex;
        }

        .sender {
            background-color: #DCF8C6;
            margin-left: auto; 
        }

        .recipient {
            background-color: #F2F2F2;
            margin-right: auto
        }
    </style>
</head>
<body>
    <div class="chat-container" id="chatContainer"></div>
    <textarea id="messageInput" placeholder="Type your message"></textarea>
    <button id="sendButton">Send</button>

    <script>
        const accessToken = '{{ request.session.access_token }}';

        function parseJwt(token) {
            try {
                const base64Url = token.split('.')[1];
                const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                const jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''));

                return JSON.parse(jsonPayload);
            } catch (error) {
                console.error('Error parsing JWT:', error);
                return null;
            }
        }

        const sender_id = parseJwt(accessToken).user_id;
        const recipientId = '{{ recipient_id }}';

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + `/ws/chat/?token=${accessToken}&recipient=${recipientId}`
        );

        // on socket open
        chatSocket.onopen = function (e) {
            console.log('Chat socket successfully connected.');
        };

        // on socket close
        chatSocket.onclose = function (e) {
            console.log('Chat socket closed unexpectedly');
        };

        // on receiving message on group
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            const message = data.message;
            const isSender = data.sender_id === sender_id;
            
            setMessage(message, isSender);
        };

        window.onload = function() {
            fetchChats();
        };

        function fetchChats() {
            const recipientId = '{{ recipient_id }}' ;
            fetch(`/chats/chats-from-user/?receiver=${recipientId}`, {
                    headers: {
                        'Authorization': `Bearer ${accessToken}`,
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        renderChats(data.data, data.user_id);
                    } else {
                        console.error(data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function renderChats(chats, userId) {
            const chatContainer = document.getElementById('chatContainer');
            chatContainer.innerHTML = '';

            chats.forEach(chat => {
                const chatBubble = document.createElement('div');
                chatBubble.textContent = chat.message;
                chatBubble.classList.add('chat-bubble', chat.sender === userId ? 'sender' : 'recipient');
                chatContainer.appendChild(chatBubble);
            });

            chatContainer.scrollTop = chatContainer.scrollHeight;
        }

        const messageInput = document.getElementById('messageInput');
        const sendButton = document.getElementById('sendButton');

        sendButton.addEventListener('click', sendMessage);

        messageInput.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });

        function sendMessage() {
            const messageInput = document.getElementById('messageInput');
            const message = messageInput.value.trim();

            chatSocket.send(JSON.stringify({
                message,
                recipientId: parseInt(recipientId),
                senderId: sender_id
            }));
        }

        function setMessage(message, isSender) {
            const chatContainer = document.getElementById('chatContainer');
            const chatBubble = document.createElement('div');
            const messageInput = document.getElementById('messageInput');
            chatBubble.textContent = message;
            chatBubble.classList.add('chat-bubble', isSender ? 'sender' : 'recipient');
            chatContainer.appendChild(chatBubble);
            
            chatContainer.scrollTop = chatContainer.scrollHeight;

            messageInput.value = '';
        }

    </script>
</body>
</html>
