<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <style>
        #userList li {
            cursor: pointer;
            padding: 5px;
            margin: 5px;
            background-color: #f0f0f0;
            border-radius: 5px;
        } 
        #newUserList {
            margin-top: 1.4rem;
            cursor: pointer;
            padding: 5px;
            margin: 5px;
            background-color: #f0f0f0;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    {% if not success %}
    <p style="color: red;">{{ message }}</p>
    {% endif %}
    Your Name: {{ data.first_name }} {{ data.last_name }}
    <h2>Users</h2>
    <ol id="userList"></ol> 
    <br />
    <br />
    <br />
    <br />
    <h2>New Users</h2>
    <ol id="newUserList"></ol> 
</body>
<script>
    window.onload = function() {
        const accessToken = '{{ request.session.access_token }}';
        console.log(accessToken)
        fetch('/chats/user/', {
            headers: {
                'Authorization': `Bearer ${accessToken}`,
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const userList = document.getElementById('userList');
                const newUserList = document.getElementById('newUserList');
                data.data.users_already_messaged.forEach(user => {
                    const li = document.createElement('li');
                    li.textContent = `${user.full_name} - ${user.email}`;
                    li.addEventListener('click', () => {
                        window.location.href = `/chats/chat-page/${user.id}`;
                    });
                    userList.appendChild(li);
                });
                data.data.new_users.forEach(user => {
                    const li = document.createElement('li');
                    li.textContent = `${user.full_name} - ${user.email}`;
                    li.addEventListener('click', () => {
                        window.location.href = `/chats/chat-page/${user.id}`;
                    });
                    newUserList.appendChild(li);
                });
            } else {
                console.error(data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    };
</script>
</html>
